!!! 5
html
  block head
    title
    != tag.stylesheet("webjars/bootstrap/3.3.5/css/bootstrap.min.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
  body
    header.navbar.navbar-static-top.bs-docs-nav(role="banner"): .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-navbar", aria-controls="bs-navbar", aria-expanded="false")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        != tag.linkTo("Bendrija", "/")
            
      nav.collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a(href="../getting-started/") Getting started
          li: a(href="../css/") CSS
        ul.nav.navbar-nav.navbar-right
          li: a(href="http://themes.getbootstrap.com") Themes

    .container: .row
      block content
    
    != tag.javascript("webjars/jquery/2.1.4/jquery.min.js")
    != tag.javascript("webjars/bootstrap/3.3.5/js/bootstrap.min.js")
    

